version: "3.9"

services:
  db:
    build: .
    container_name: weeb-e-fied-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Robin@930
      POSTGRES_DB: weeb_e_fied
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
